// fonts
$font: 'Roboto', sans-serif;

// colors
$pink: #f17e7e;
$white: rgba(255,255,255, .95);

// screen width 
$pro-height: 1366px;
$ipad-height: 1024px;
$width-md: 768px;
$plus-width: 414px;
$x-width: 375px;